#main-wrap {
  --main-max-width: auto;
}

@include breakpoint($mq-landscape-mobile) {
  html {
    font-size: 8px;
  }
}

.board-editor {
  $board-width: calc((100vh - 4vmin) * var(--board-scale) * 0.8 - #{$site-header-outer-height});

  display: grid;
  grid-template-columns: minmax(0, $board-width);
  grid-template-areas: 'spare-top' 'board' 'spare-bottom' 'tools' 'copyables';

  @include breakpoint($mq-landscape-mobile) {
    $forced-outer-coords-variants: (
      'shogi',
      'minishogi',
      'xiangqi',
      'minixiangqi',
      'flipello',
      'flipello10',
      'antiflipello',
      'octagonflipello',
      'oware',
      'go9x9',
      'go13x13',
      'go19x19'
    );
    @each $variant in $forced-outer-coords-variants {
      &.variant-#{$variant} {
        grid-template-columns: minmax(30vmin, $board-width) 4vmin minmax(200px, 300px) !important;
      }
      &.variant-#{$variant} .spare-bottom {
        margin-top: calc($block-gap * 2);
      }
    }
    .coords-out & {
      grid-template-columns: minmax(30vmin, $board-width) 4vmin minmax(200px, 300px) !important;
    }
  }

  @include breakpoint($mq-x-small) {
    grid-template-columns: minmax(30vmin, $board-width) 2vmin minmax(200px, 300px);
    grid-template-rows: min-content auto min-content;
    grid-template-areas: '.            . tools' 'spare-top    . tools' 'board        . tools' 'spare-bottom . tools' '.            . tools' 'copyables    . .    ';
  }
}
