.board-editor {
  &__tools {
    @extend %flex-column;

    grid-area: tools;
    align-self: center;

    > * {
      margin: 0.5rem 0;
    }

    select {
      @extend %page-link !optional;

      width: 100%;

      &.positions option:checked {
        font-style: italic;
      }
    }

    .metadata {
      @extend %box-neat;

      background: $c-bg-box;
      padding: 1rem;
      white-space: nowrap;

      .color,
      .playerIndex {
        margin-bottom: 1em;
      }

      .castling {
        div {
          @extend %flex-between;
        }

        label,
        input {
          display: inline-block;
          margin: 3px;
          vertical-align: middle;
        }
      }

      /*
        Copied .enpassant style from https://github.com/lichess-org/lila/commit/2017682f3871d90ab68db7c3495d4886c9c9fcfe
        License: AGPL-3
      */
      .enpassant {
        @extend %flex-between;
        margin-top: 1em;
        label {
          font-weight: bold;
        }
        select {
          width: 9ch;
        }
      }

      .lastAction {
        @extend %flex-between;
        margin-top: 1em;
        label {
          font-weight: bold;
        }
        select {
          width: 12ch;
        }
      }
    }

    .actions {
      @extend %flex-column;

      justify-content: stretch;

      .button {
        @extend %page-link !optional;

        width: 100%;
        text-align: left;
      }
    }
  }
}
