.oware.is2d .s1-piece {background-image:url('/assets/piece/oware/green_seed/1.svg')}
.oware.is2d .s2-piece {background-image:url('/assets/piece/oware/green_seed/2.svg')}
.oware.is2d .s3-piece {background-image:url('/assets/piece/oware/green_seed/3.svg')}
.oware.is2d .s4-piece {background-image:url('/assets/piece/oware/green_seed/4.svg')}
.oware.is2d .s5-piece {background-image:url('/assets/piece/oware/green_seed/5.svg')}
.oware.is2d .s6-piece {background-image:url('/assets/piece/oware/green_seed/6.svg')}
.oware.is2d .s7-piece {background-image:url('/assets/piece/oware/green_seed/7.svg')}
.oware.is2d .s8-piece {background-image:url('/assets/piece/oware/green_seed/8.svg')}
.oware.is2d .s9-piece {background-image:url('/assets/piece/oware/green_seed/9.svg')}
.oware.is2d .s10-piece {background-image:url('/assets/piece/oware/green_seed/10.svg')}
.oware.is2d .s11-piece {background-image:url('/assets/piece/oware/green_seed/11.svg')}
.oware.is2d .s12-piece {background-image:url('/assets/piece/oware/green_seed/12.svg')}
.oware.is2d .s13-piece {background-image:url('/assets/piece/oware/green_seed/13.svg')}
.oware.is2d .s14-piece {background-image:url('/assets/piece/oware/green_seed/14.svg')}
.oware.is2d .s15-piece {background-image:url('/assets/piece/oware/green_seed/15.svg')}
.oware.is2d .s16-piece {background-image:url('/assets/piece/oware/green_seed/16.svg')}
.oware.is2d .s17-piece {background-image:url('/assets/piece/oware/green_seed/17.svg')}
.oware.is2d .s18-piece {background-image:url('/assets/piece/oware/green_seed/18.svg')}
.oware.is2d .s19-piece {background-image:url('/assets/piece/oware/green_seed/19.svg')}
.oware.is2d .s20-piece {background-image:url('/assets/piece/oware/green_seed/20.svg')}
.oware.is2d .s21-piece {background-image:url('/assets/piece/oware/green_seed/21.svg')}
.oware.is2d .s22-piece {background-image:url('/assets/piece/oware/green_seed/22.svg')}
.oware.is2d .s23-piece {background-image:url('/assets/piece/oware/green_seed/23.svg')}
.oware.is2d .s24-piece {background-image:url('/assets/piece/oware/green_seed/24.svg')}
.oware.is2d .s25-piece {background-image:url('/assets/piece/oware/green_seed/25.svg')}
.oware.is2d .s26-piece {background-image:url('/assets/piece/oware/green_seed/26.svg')}
.oware.is2d .s27-piece {background-image:url('/assets/piece/oware/green_seed/27.svg')}
.oware.is2d .s28-piece {background-image:url('/assets/piece/oware/green_seed/28.svg')}
.oware.is2d .s29-piece {background-image:url('/assets/piece/oware/green_seed/29.svg')}
.oware.is2d .s30-piece {background-image:url('/assets/piece/oware/green_seed/30.svg')}
.oware.is2d .s31-piece {background-image:url('/assets/piece/oware/green_seed/31.svg')}
.oware.is2d .s32-piece {background-image:url('/assets/piece/oware/green_seed/32.svg')}
.oware.is2d .s33-piece {background-image:url('/assets/piece/oware/green_seed/33.svg')}
.oware.is2d .s34-piece {background-image:url('/assets/piece/oware/green_seed/34.svg')}
.oware.is2d .s35-piece {background-image:url('/assets/piece/oware/green_seed/35.svg')}
.oware.is2d .s36-piece {background-image:url('/assets/piece/oware/green_seed/36.svg')}
.oware.is2d .s37-piece {background-image:url('/assets/piece/oware/green_seed/37.svg')}
.oware.is2d .s38-piece {background-image:url('/assets/piece/oware/green_seed/38.svg')}
.oware.is2d .s39-piece {background-image:url('/assets/piece/oware/green_seed/39.svg')}
.oware.is2d .s40-piece {background-image:url('/assets/piece/oware/green_seed/40.svg')}
.oware.is2d .s41-piece {background-image:url('/assets/piece/oware/green_seed/41.svg')}
.oware.is2d .s42-piece {background-image:url('/assets/piece/oware/green_seed/42.svg')}
.oware.is2d .s43-piece {background-image:url('/assets/piece/oware/green_seed/43.svg')}
.oware.is2d .s44-piece {background-image:url('/assets/piece/oware/green_seed/44.svg')}
.oware.is2d .s45-piece {background-image:url('/assets/piece/oware/green_seed/45.svg')}
.oware.is2d .s46-piece {background-image:url('/assets/piece/oware/green_seed/46.svg')}
.oware.is2d .s47-piece {background-image:url('/assets/piece/oware/green_seed/47.svg')}
.oware.is2d .s48-piece {background-image:url('/assets/piece/oware/green_seed/48.svg')}
.is2d .variant-oware .s1-piece {background-image:url('/assets/piece/oware/green_seed/1.svg')}
.is2d .variant-oware .s2-piece {background-image:url('/assets/piece/oware/green_seed/2.svg')}
.is2d .variant-oware .s3-piece {background-image:url('/assets/piece/oware/green_seed/3.svg')}
.is2d .variant-oware .s4-piece {background-image:url('/assets/piece/oware/green_seed/4.svg')}
.is2d .variant-oware .s5-piece {background-image:url('/assets/piece/oware/green_seed/5.svg')}
.is2d .variant-oware .s6-piece {background-image:url('/assets/piece/oware/green_seed/6.svg')}
.is2d .variant-oware .s7-piece {background-image:url('/assets/piece/oware/green_seed/7.svg')}
.is2d .variant-oware .s8-piece {background-image:url('/assets/piece/oware/green_seed/8.svg')}
.is2d .variant-oware .s9-piece {background-image:url('/assets/piece/oware/green_seed/9.svg')}
.is2d .variant-oware .s10-piece {background-image:url('/assets/piece/oware/green_seed/10.svg')}
.is2d .variant-oware .s11-piece {background-image:url('/assets/piece/oware/green_seed/11.svg')}
.is2d .variant-oware .s12-piece {background-image:url('/assets/piece/oware/green_seed/12.svg')}
.is2d .variant-oware .s13-piece {background-image:url('/assets/piece/oware/green_seed/13.svg')}
.is2d .variant-oware .s14-piece {background-image:url('/assets/piece/oware/green_seed/14.svg')}
.is2d .variant-oware .s15-piece {background-image:url('/assets/piece/oware/green_seed/15.svg')}
.is2d .variant-oware .s16-piece {background-image:url('/assets/piece/oware/green_seed/16.svg')}
.is2d .variant-oware .s17-piece {background-image:url('/assets/piece/oware/green_seed/17.svg')}
.is2d .variant-oware .s18-piece {background-image:url('/assets/piece/oware/green_seed/18.svg')}
.is2d .variant-oware .s19-piece {background-image:url('/assets/piece/oware/green_seed/19.svg')}
.is2d .variant-oware .s20-piece {background-image:url('/assets/piece/oware/green_seed/20.svg')}
.is2d .variant-oware .s21-piece {background-image:url('/assets/piece/oware/green_seed/21.svg')}
.is2d .variant-oware .s22-piece {background-image:url('/assets/piece/oware/green_seed/22.svg')}
.is2d .variant-oware .s23-piece {background-image:url('/assets/piece/oware/green_seed/23.svg')}
.is2d .variant-oware .s24-piece {background-image:url('/assets/piece/oware/green_seed/24.svg')}
.is2d .variant-oware .s25-piece {background-image:url('/assets/piece/oware/green_seed/25.svg')}
.is2d .variant-oware .s26-piece {background-image:url('/assets/piece/oware/green_seed/26.svg')}
.is2d .variant-oware .s27-piece {background-image:url('/assets/piece/oware/green_seed/27.svg')}
.is2d .variant-oware .s28-piece {background-image:url('/assets/piece/oware/green_seed/28.svg')}
.is2d .variant-oware .s29-piece {background-image:url('/assets/piece/oware/green_seed/29.svg')}
.is2d .variant-oware .s30-piece {background-image:url('/assets/piece/oware/green_seed/30.svg')}
.is2d .variant-oware .s31-piece {background-image:url('/assets/piece/oware/green_seed/31.svg')}
.is2d .variant-oware .s32-piece {background-image:url('/assets/piece/oware/green_seed/32.svg')}
.is2d .variant-oware .s33-piece {background-image:url('/assets/piece/oware/green_seed/33.svg')}
.is2d .variant-oware .s34-piece {background-image:url('/assets/piece/oware/green_seed/34.svg')}
.is2d .variant-oware .s35-piece {background-image:url('/assets/piece/oware/green_seed/35.svg')}
.is2d .variant-oware .s36-piece {background-image:url('/assets/piece/oware/green_seed/36.svg')}
.is2d .variant-oware .s37-piece {background-image:url('/assets/piece/oware/green_seed/37.svg')}
.is2d .variant-oware .s38-piece {background-image:url('/assets/piece/oware/green_seed/38.svg')}
.is2d .variant-oware .s39-piece {background-image:url('/assets/piece/oware/green_seed/39.svg')}
.is2d .variant-oware .s40-piece {background-image:url('/assets/piece/oware/green_seed/40.svg')}
.is2d .variant-oware .s41-piece {background-image:url('/assets/piece/oware/green_seed/41.svg')}
.is2d .variant-oware .s42-piece {background-image:url('/assets/piece/oware/green_seed/42.svg')}
.is2d .variant-oware .s43-piece {background-image:url('/assets/piece/oware/green_seed/43.svg')}
.is2d .variant-oware .s44-piece {background-image:url('/assets/piece/oware/green_seed/44.svg')}
.is2d .variant-oware .s45-piece {background-image:url('/assets/piece/oware/green_seed/45.svg')}
.is2d .variant-oware .s46-piece {background-image:url('/assets/piece/oware/green_seed/46.svg')}
.is2d .variant-oware .s47-piece {background-image:url('/assets/piece/oware/green_seed/47.svg')}
.is2d .variant-oware .s48-piece {background-image:url('/assets/piece/oware/green_seed/48.svg')}
