.analyse {
  &__board {
    grid-area: board;
  }

  &__tools {
    grid-area: tools;
  }

  &__controls {
    grid-area: controls;
  }

  display: grid;
  grid-template-columns: minmax(200px, calc(100vh - 2.5rem)) minmax(200px, 1fr);
  grid-template-rows: auto 3rem;
  grid-template-areas: 'board tools' 'board controls';
}

//for games with pockets
.pocket {
  &-top {
    grid-area: pocket-top;
  }

  &-bottom {
    grid-area: pocket-bot;
  }

  width: 100%;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3) inset;
  background: #888;
  border-radius: 0;
}

@each $variant in ('crazyhouse', 'minishogi') {
  .analyse.variant-#{$variant} {
    grid-template-rows: 9.5vw auto 3rem 9.5vw;
    grid-template-areas: 'board pocket-top' 'board tools' 'board controls' 'board pocket-bot';
  }
}
.analyse.variant-shogi {
  grid-template-rows: 7vw auto 3rem 7vw;
  grid-template-areas: 'board pocket-top' 'board tools' 'board controls' 'board pocket-bot';
}

//score for games (togyzkumalak has own layout below)
$score-variants: ('flipello', 'flipello10', 'oware', 'go9x9', 'go13x13', 'go19x19');
$go-variants: ('go9x9', 'go13x13', 'go19x19');

body.oware-light-wood .variant-oware .game-score {
  background: url(../images/board/oware/oware_light_wood_house.png);
  background-size: cover;
}

body.oware-dark-wood .variant-oware .game-score {
  background: url(../images/board/oware/oware_dark_wood_house.png);
  background-size: cover;
}

body.togyzkumalak-blue .variant-togyzkumalak .game-score {
  background: url(../images/board/togyzkumalak/togyzkumalak_blue_house.png);
  background-size: cover;
}

body.togyzkumalak-wood .variant-togyzkumalak .game-score {
  background: url(../images/board/togyzkumalak/togyzkumalak_wood_house.png);
  background-size: cover;
}

@each $variant in $go-variants {
  body.go-light-wood .variant-#{$variant} .game-score.game-score-top {
    background: url(../images/board/go/svg/go_pot_white_light.svg);
    background-size: cover;
  }

  body.go-light-wood .variant-#{$variant} .game-score.game-score-bottom {
    background: url(../images/board/go/svg/go_pot_black_light.svg);
    background-size: cover;
  }

  body.go-dark-wood .variant-#{$variant} .game-score.game-score-top {
    background: url(../images/board/go/svg/go_pot_white_dark.svg);
    background-size: cover;
  }

  body.go-dark-wood .variant-#{$variant} .game-score.game-score-bottom {
    background: url(../images/board/go/svg/go_pot_black_dark.svg);
    background-size: cover;
  }
}

$pocket-col1-size: 5rem;
@each $variant in $score-variants {
  .analyse.variant-#{$variant} {
    grid-template-rows: $pocket-col1-size auto 3rem;
    grid-template-areas: 'board pocket-top' 'board tools' 'board controls';
  }

  .variant-#{$variant} .game-score {
    @extend %box-radius;
    display: block;
    width: $pocket-col1-size;
    height: $pocket-col1-size;
    background-color: #aaa;

    piece {
      display: block;
      width: 100% !important;
      height: 100% !important;
      position: relative;
    }

    &-top {
      grid-area: pocket-top;
    }

    &-bottom {
      grid-area: pocket-top;
      margin-left: calc(100% - #{$pocket-col1-size});
    }
  }
}

.variant-flipello .game-score,
.variant-flipello10 .game-score,
.variant-go9x9 .game-score,
.variant-go13x13 .game-score,
.variant-go19x19 .game-score {
  piece::after {
    @extend %active, %box-radius;

    content: attr(data-score);
    top: 0;
    right: 0;
    position: absolute;
    line-height: 0.9em;
    padding: 3px 0.3em;
    font-weight: bold;
    font-size: 1.5em;
  }
}

//togyzkumalak layout different
.analyse.variant-togyzkumalak {
  grid-template-rows: 4.5rem auto 3rem 4.5rem;
  grid-template-areas: 'board pocket-top' 'board tools' 'board controls' 'board pocket-bot';
}

.variant-togyzkumalak .game-score {
  @extend %box-radius;
  display: block;
  width: 17.8em;
  height: 4.5em;
  background-color: #aaa;

  piece.part1 {
    display: block;
    width: 5em !important;
    height: 10em !important;
    position: relative;
    margin-top: -2.2em !important;
    margin-left: 2.5em !important;
    transform: rotate(270deg);
  }

  piece.part2 {
    display: block;
    width: 5em !important;
    height: 10em !important;
    position: relative;
    margin-top: -10em !important;
    margin-left: 10.1em !important;
    transform: rotate(270deg);
  }

  &-top {
    grid-area: pocket-top;
  }

  &-bottom {
    grid-area: pocket-bot;
  }
}

.variant-togyzkumalak .game-score::after {
  @extend %active, %box-radius;

  content: attr(data-score);
  top: -4.8em;
  right: -10.7em;
  position: relative;
  line-height: 0.9em;
  padding: 3px 0.3em;
  font-weight: bold;
  font-size: 1.5em;
}

//taller than wider board (e.g. xiangqi) undo some css

.analyse.variant-xiangqi {
  margin-right: unset;
  width: unset;

  grid-template-columns: minmax(200px, calc(100vh - 3rem - 2.5rem)) minmax(200px, 1fr);
}
