.memory-app {
  display: flex;
  flex-flow: column;
  width: 100%;
  max-width: 1000px;
  align-items: center;
  padding: 0 0 50px 0;

  .memory-title {
    font-weight: bold;
    padding: 3vh 0;
  }

  .memory-grid {
    width: 350px;
    height: 350px;
    display: flex;
    flex-flow: wrap;
    background-image: url(../images/board/chess/grey.jpg);
    background-size: cover;
    .memory-card {
      width: 25%;
      height: 25%;
      position: relative;
      display: flex;
      flex-flow: column;
      align-items: center;
      transform: scale(1);
      transform-style: preserve-3d;
      transition: transform 0.5s;
      user-select: none;
      -webkit-user-select: none;
      &.flip {
        transform: rotateY(180deg);
      }
      .front-face,
      .back-face {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
      }
      .front-face {
        transform: rotateY(180deg);
      }
      .image {
        font-size: 4em;
        width: unset;
      }
    }
  }
  .moves {
    padding: 2vh 0;
    font-weight: bold;
  }
}
