#announce {
  @extend %flex-between, %popup-shadow;

  font-size: 1.4em;
  position: fixed;
  background: $c-primary;
  color: $c-primary-over;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 0.7rem 1rem;
  z-index: z('tour-reminder');
  width: 100%;

  .selected-color-black & {
    background: $c-color-choice-black;
    color: $c-color-choice-font-default;
  }
  .selected-color-red & {
    background: $c-color-choice-red;
    color: $c-color-choice-font-default;
  }
  .selected-color-blue & {
    background: $c-color-choice-blue;
    color: $c-color-choice-font-default;
  }
  .selected-color-green & {
    background: $c-color-choice-green;
    color: $c-color-choice-font-default;
  }
  .selected-color-yellow & {
    background: $c-color-choice-yellow;
    color: $c-color-choice-font-default;
  }

  @include breakpoint($mq-xx-small) {
    width: auto;
    border-top-right-radius: 3px;
  }

  a {
    color: $c-primary-over;
    .selected-color-black &,
    .selected-color-red &,
    .selected-color-blue &,
    .selected-color-green &,
    .selected-color-yellow & {
      color: $c-color-choice-font-default;
    }
  }

  time {
    margin-left: 1rem;
  }

  .actions {
    a {
      font-weight: bold;
      margin-left: 1rem;
    }
  }

  &.announce {
    flex-flow: row nowrap;
    background: $c-accent;
  }
}
