.button {
  @extend %roboto-fat, %button-shadow, %box-radius;

  background: $c-primary;
  text-transform: uppercase;
  padding: 0.8em 1em;
  border: none;
  cursor: pointer;
  text-align: center;
  user-select: none;
  white-space: nowrap;

  @include transition;

  &,
  &:visited {
    color: $c-primary-over;
  }

  &:not(.disabled):hover {
    @extend %button-raised-shadow;

    color: $c-primary-over;
    background: lighten($c-primary, 7);
  }

  &:not(.disabled):focus {
    @extend %focus-shadow;
  }

  &-no-upper {
    text-transform: none;
  }

  &-thin {
    padding: 0.1em 1em;
    font-size: 90%;
  }

  &-fat {
    font-size: 1.6rem;
  }

  &-green {
    background: $c-secondary;

    &:not(.disabled):hover {
      background: lighten($c-secondary, 4);
    }
  }

  &-red {
    background: $c-error;

    &:not(.disabled):hover {
      background: lighten($c-error, 11);
    }
  }

  &.button-empty {
    transition: none;

    &,
    &:hover {
      color: $c-primary;
    }

    background: none;
    box-shadow: none;

    &:not(.disabled):hover {
      @extend %button-shadow;
    }

    &,
    &.button-green,
    &.button-red {
      &:not(.disabled):hover {
        @extend %metal;
      }
    }

    &.button-red,
    &.button-red:hover {
      color: $c-error;
    }

    &.button-green,
    &.button-green:hover {
      color: $c-secondary;
    }
  }

  &.button-metal {
    @extend %metal;

    &,
    &:hover {
      color: $c-font-dim;
    }

    .main-color-white & {
      background: $c-color-choice-white;
      color: $c-color-choice-font-dark;
      text-shadow: 0 1px 0 $c-color-choice-white;
      &:hover {
        background: $c-color-choice-black-dim;
        color: $c-color-choice-font-default;
        text-shadow: 0 1px 0 $c-color-choice-black-dim;
      }
    }
    .main-color-black & {
      background: $c-color-choice-black;
      color: $c-color-choice-font-default;
      text-shadow: 0 1px 0 $c-color-choice-black;
      &:hover {
        background: $c-color-choice-black-dim;
        color: $c-color-choice-font-default;
        text-shadow: 0 1px 0 $c-color-choice-black-dim;
      }
    }
    .main-color-red & {
      background: $c-color-choice-red;
      color: $c-color-choice-font-default;
      text-shadow: 0 1px 0 $c-color-choice-red;
      &:hover {
        background: $c-color-choice-red-dim;
        color: $c-color-choice-font-default;
        text-shadow: 0 1px 0 $c-color-choice-red-dim;
      }
    }
    .main-color-blue & {
      background: $c-color-choice-blue;
      color: $c-color-choice-font-default;
      text-shadow: 0 1px 0 $c-color-choice-blue;
      &:hover {
        background: $c-color-choice-blue-dim;
        color: $c-color-choice-font-default;
        text-shadow: 0 1px 0 $c-color-choice-blue-dim;
      }
    }
    .main-color-green & {
      background: $c-color-choice-green;
      color: $c-color-choice-font-default;
      text-shadow: 0 1px 0 $c-color-choice-green;
      &:hover {
        background: $c-color-choice-green-dim;
        color: $c-color-choice-font-default;
        text-shadow: 0 1px 0 $c-color-choice-green-dim;
      }
    }
    .main-color-yellow & {
      background: $c-color-choice-yellow;
      color: $c-color-choice-font-default;
      text-shadow: 0 1px 0 $c-color-choice-yellow;
      &:hover {
        background: $c-color-choice-yellow-dim;
        color: $c-color-choice-font-default;
        text-shadow: 0 1px 0 $c-color-choice-yellow-dim;
      }
    }

    &:not(.disabled):hover {
      @extend %metal-hover;
    }
  }

  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &.active {
    @extend %active;

    color: #fff;
  }

  &.active:not(.disabled):hover {
    @extend %active-hover;

    color: #fff;
  }
}
