.playerIndex-icon {
  @if $theme-light {
    &.p1::before {
      content: 'K';
    }

    &.p2::before {
      content: 'J';
    }

    &.white::before {
      content: 'K';
    }

    &.black::before {
      content: 'J';
    }
  } @else {
    &.p1::before {
      content: 'J';
    }

    &.p2::before {
      content: 'K';
    }

    &.white::before {
      content: 'J';
    }

    &.black::before {
      content: 'K';
    }
  }

  &.random::before {
    content: 'l';
  }
}
