.library-all {
  display: flex;
  flex-flow: column;
  width: 100%;
  max-width: 700px;
  align-items: center;
  margin: 0 auto;
  background-color: $c-bg-box;

  ::before {
    font-size: 2.2em;
  }

  $c-color-choice-map: (
    'black': $c-color-choice-black,
    'green': $c-color-choice-green,
    'red': $c-color-choice-red,
    'blue': $c-color-choice-blue,
    'yellow': $c-color-choice-yellow,
  );

  .library-header.color-choice {
    color: $c-font;
  }

  @each $c in ('black', 'green', 'red', 'blue', 'yellow') {
    .selected-color-#{$c} & .library-header.color-choice {
      background: map-get($c-color-choice-map, $c);
      color: $c-color-choice-font-default;
      text-shadow: 0 1px 0 map-get($c-color-choice-map, $c);
    }
  }

  //game specific page
  .library-header {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    .library-links {
      flex: 1 1 auto;
      display: flex;
      margin-bottom: 1em;
      justify-content: center;
      gap: 1em;
      a {
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: unset;
        font-weight: bold;
      }
    }
  }

  //general page
  .library-title {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-weight: bold;
    width: 100%;
    padding: 0.5em;
    margin: 0;
    &::before {
      margin-right: -1.1em;
      text-align: left;
    }
    span {
      flex: 1;
      text-align: center;
    }
  }

  .start {
    padding-top: 2em;
  }

  .section-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    padding: 1em 0;
  }

  .gamegroup-choice {
    border-bottom: $border;
    background: $c-bg-zebra;
    border-top: $border;
    padding: 0em 1em;
    width: 100%;
  }

  .variants-choice {
    padding: 0em 1em;
    width: 100%;
  }

  .gamegroup-icons,
  .variants-icons {
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto 1em auto;
    width: 100%;
    overflow: hidden;
    border-radius: 3px;
    box-shadow:
      0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.2),
      0 1px 5px 0 rgba(0, 0, 0, 0.12);

    .gamegroup,
    .variant {
      height: 64px;
      display: flex;
      flex-flow: column;
      padding: 2px;
      justify-content: center;
      flex: 0 0 25%;
      max-width: 25%;
      border-right: 1px solid $c-border;
      border-left: none;
      border-top: none;
      border-bottom: none;

      &:not(.selected):not(:hover) {
        @include metal;
      }

      &.button.button-color-choice {
        text-transform: initial;
      }
    }
  }

  .spinner {
    width: 150px;
    height: 150px;
    margin-top: 100px;
  }

  #library_chart_area {
    height: 500px;
    margin-top: 2rem;
    width: 100%;
    max-width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    #library_chart {
      width: 100%;
      max-width: 100%;
      min-width: 250px;
      box-sizing: border-box;
      margin-left: -1em;
    }
  }
}
