#dasher_app .theme {
  .list {
    @extend %flex-wrap;

    margin: 5px 0;
  }

  .list a {
    flex: 0 0 50%;
    height: 44px;

    &.shogi {
      height: 125px;
    }

    &.xiangqi {
      height: 125px;
    }

    &.flipello {
      height: 125px;
    }

    &.oware {
      height: 125px;
    }

    &.togyzkumalak {
      height: 125px;
    }

    &.go {
      height: 125px;
    }

    &.backgammon {
      height: 125px;
    }

    &.breakthroughtroyka {
      height: 44px;
    }

    @extend %flex-center;

    justify-content: center;

    &.hidden {
      display: none;
    }
  }

  .list span {
    display: block;
    width: 64px;
    height: 32px;
  }

  .list a.shogi span {
    display: block;
    width: 100px;
    height: 100px;
  }

  .list a.xiangqi span {
    display: block;
    width: 100px;
    height: 111.11px;
  }

  .list a.flipello span {
    display: block;
    width: 100px;
    height: 100px;
  }

  .list a.oware span {
    display: block;
    width: 100px;
    height: 33.33px;
  }

  .list a.togyzkumalak span {
    display: block;
    width: 100px;
    height: 55.55px;
  }

  .list a.go span {
    display: block;
    width: 100px;
    height: 100px;
  }

  .list a.backgammon span {
    display: block;
    width: 100px;
    height: 100px;
  }

  .list a.breakthroughtroyka span {
    display: block;
    width: 64px;
    height: 32px;
  }

  &.d3 .list span {
    width: 66px;
    height: 30px;

    @include transition(transform);
  }

  .list a:hover {
    filter: brightness(1.05);
  }

  .list a:hover span {
    transform: scale(1.05);
  }

  .list a.active {
    background-color: $c-shade;
  }

  $chess-board-files: (
    'blue': 'svg/blue.svg',
    'blue2': 'blue2.thumbnail.jpg',
    'blue-marble': 'blue-marble.thumbnail.jpg',
    'wood2': 'wood2.thumbnail.jpg',
    'wood3': 'wood3.thumbnail.jpg',
    'wood4': 'wood4.thumbnail.jpg',
    'blue3': 'blue3.thumbnail.jpg',
    'marble': 'marble.thumbnail.jpg',
    'brown': 'svg/brown.svg',
    'green': 'svg/green.svg',
    'green-plastic': 'green-plastic.thumbnail.png',
    'olive': 'olive.thumbnail.jpg',
    'purple': 'svg/purple.svg',
    'purple-diag': 'purple-diag.thumbnail.png',
    'grey': 'grey.thumbnail.jpg',
    'wood': 'wood.thumbnail.jpg',
    'canvas': 'canvas2.thumbnail.jpg',
    'leather': 'leather.thumbnail.jpg',
    'metal': 'metal.thumbnail.jpg',
    'maple': 'maple.thumbnail.jpg',
    'maple2': 'maple2.thumbnail.jpg',
    'newspaper': 'newspaper.thumbnail.png',
    'pink': 'pink-pyramid.thumbnail.png',
    'ic': 'svg/ic.svg',
    'horsey': 'horsey.thumbnail.jpg',
  );

  @each $gameFamily in ('chess', 'draughts', 'loa', 'amazons', 'breakthroughtroyka') {
    @each $color, $file in $chess-board-files {
      &.d2 .#{$gameFamily}-#{$color} {
        background-image: url(../images/board/#{$gameFamily}/#{$file});
        @if (str-index(#{$file}, '.svg')) {
          background-size: 256px;
        }
      }
    }
  }

  &.d2 {
    .shogi-wood {
      background-image: url(../images/board/shogi/shogi.svg);
      background-size: 100px;
    }

    .shogi-clear {
      background-image: url(../images/board/shogi/shogi_clear.png);
      background-size: 100px;
    }

    .xiangqi-grey {
      background-image: url(../images/board/xiangqi/xiangqi.svg);
      background-size: 100px;
    }

    .xiangqi-green {
      background-image: url(../images/board/xiangqi/xiangqic.svg);
      background-size: 100px;
    }

    .flipello-green {
      background-image: url(../images/board/flipello/flipello_green_board.svg);
      background-size: 100px;
    }

    .flipello-green-marble {
      background-image: url(../images/board/flipello/flipello_green_marble_board.svg);
      background-size: 100px;
    }

    .flipello-wood {
      background-image: url(../images/board/flipello/flipello_wood_board.svg);
      background-size: 100px;
    }

    .oware-light-wood {
      background-image: url(../images/board/oware/oware_light_wood_board.png);
      background-size: 100px;
    }

    .oware-dark-wood {
      background-image: url(../images/board/oware/oware_dark_wood_board.png);
      background-size: 100px;
    }

    .togyzkumalak-blue {
      background-image: url(../images/board/togyzkumalak/togyzkumalak_blue_board.png);
      background-size: 100px;
    }

    .togyzkumalak-wood {
      background-image: url(../images/board/togyzkumalak/togyzkumalak_wood_board.png);
      background-size: 100px;
    }

    .go-light-wood {
      background-image: url(../images/board/go/svg/go_board_light_9x9.svg);
      background-size: 100px;
    }

    .go-dark-wood {
      background-image: url(../images/board/go/svg/go_board_dark_9x9.svg);
      background-size: 100px;
    }

    .backgammon-classic {
      background-image: url(../images/board/backgammon/svg/backgammon_classic_board.svg);
      background-size: 100px;
    }

    .backgammon-contemporary {
      background-image: url(../images/board/backgammon/svg/backgammon_contemporary_board.svg);
      background-size: 100px;
    }

    .breakthrough-wood {
      background-image: url(../images/board/breakthroughtroyka/wood.thumbnail.jpg);
    }
  }

  &.d3 {
    $board-files: 'Black-White-Aluminium', 'Brushed-Aluminium', 'China-Blue', 'China-Green', 'China-Grey',
      'China-Scarlet', 'China-Yellow', 'Classic-Blue', 'Gold-Silver', 'Green-Glass', 'Light-Wood', 'Power-Coated',
      'Purple-Black', 'Rosewood', 'Wood-Glass', 'Wax', 'Jade', 'Marble', 'Woodi';

    @each $name in $board-files {
      .#{$name} {
        background-image: img-url('staunton/board/#{$name}.thumbnail.png');
      }
    }
  }
}
