.tour__standing {
  border: none;

  .player-info {
    display: flex;
    align-items: center;
  }

  .player {
    padding-left: 0px;
    padding-right: 0px;

    .name {
      @extend %nowrap-ellipsis;

      display: inline-block;
      vertical-align: middle;
      padding-right: 5px;
      max-width: 140px;
    }
  }

  .country {
    margin-right: 0.5em;
  }

  .user-link.long {
    letter-spacing: -0.7px;
  }

  .user-link .rating {
    font-style: italic;
    font-size: 0.8em;
    &.unused {
      text-decoration: line-through;
    }
    &.input {
      padding-left: 5px;
    }
  }

  tr.long .user-link .rating {
    display: block;
    padding-left: 0px;
    &.unused {
      text-decoration: line-through;
    }
    &.input {
      padding-left: 5px;
    }
  }

  tr {
    @include transition;

    user-select: none;
  }

  .loading tbody {
    opacity: 0.6;

    @include transition(opacity, 0.3s);
  }

  &:not(.created):not(.loading) tbody tr:hover {
    background: mix($c-primary, $c-bg-box, 30%);
    cursor: pointer;
  }

  tr.me td:first-child {
    $c-me-border: mix($c-secondary, $c-bg-box, 70%);

    background: linear-gradient(
      to right,
      $c-me-border 0px,
      $c-me-border 5px,
      rgba(0, 0, 0, 0) 5px,
      rgba(0, 0, 0, 0) 100%
    );
  }

  tr.active td:last-child {
    $c-active-border: mix($c-primary, $c-bg-box, 70%);

    background: linear-gradient(
      to left,
      $c-active-border 0px,
      $c-active-border 5px,
      rgba(0, 0, 0, 0) 5px,
      rgba(0, 0, 0, 0) 100%
    );
  }

  td.rank {
    @extend %roboto;

    padding: 1em 0.5em 1em 10px;
    width: 1px;

    /* helps keeping it as small as possible */
    i {
      opacity: 0.4;
      font-size: 0.8em;
    }
  }

  .sheet {
    text-align: right;
    padding-right: 0;
    padding-left: 0;
    letter-spacing: 0.1em;

    & > * {
      display: inline-block;
    }

    score {
      opacity: 0.7;
    }
  }

  tr.long .sheet {
    font-size: 0.9rem;
    letter-spacing: 0.06em;
  }

  tr.xlong .sheet {
    font-size: 0.85rem;
    letter-spacing: 0.04em;
  }

  tr.dq .rank {
    text-decoration: line-through;
  }

  tr.dq .player {
    text-decoration: line-through;
  }

  double {
    color: $c-brag;

    /* font-weight: bold; */
  }

  streak {
    color: $c-secondary;

    /* font-weight: bold; */
  }

  .total {
    text-align: right;
    font-weight: bold;
    padding-right: $block-gap;
  }
}

$narrow-user-list-width: 30ch;

.medley-variants-horiz,
.medley-variants {
  @extend %box-radius;

  &__item {
    background: $c-bg-box;
    border-right: $border;
  }

  h1 {
    font-size: 1.7em;
    padding: 10px;
    margin-bottom: 0px;
  }

  h2 {
    @extend %metal, %box-shadow;

    padding-left: 0.8rem;
    margin: 0;
    white-space: nowrap;

    a {
      display: block;

      &:hover {
        color: $c-link;
      }
    }
  }

  li {
    @extend %flex-between;

    padding: 1.2rem 1.2rem 1.2rem 0.5rem;

    &:nth-child(even) {
      background: $c-bg-zebra;
    }
  }

  a {
    color: $c-font;
  }

  h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 1.25em;
    line-height: 2em;
  }

  .current-variant {
    h2 {
      background: $c-good;
    }

    .medley-variant {
      color: $c-bg-box;
      &:hover {
        color: $c-bg-box;
        font-weight: bold;
      }
    }
  }

  h3 {
    margin: 5px;
  }

  .medley-variant-name {
    margin-left: 0.6em;
  }
}

.medley-variants-horiz {
  border-top: 1px solid;
  border-bottom: 1px solid;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
  width: 100vw;
  @include breakpoint($mq-small) {
    width: unset;
  }
}

.medley-horiz-icon {
  font-size: 2em;
  cursor: pointer;
  display: flex;
}

.medley-variants-wide {
  overflow-x: scroll;
}

.medley-variants-scrollable {
  white-space: nowrap;

  .medley-variant__item {
    width: 16em;
    display: inline-block;
  }
}

.medley-variants {
  .medley-variants-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($narrow-user-list-width, 1fr));
  }
}
