$user-list-width: 35ch;

.tournament-leaderboards,
.tournament-shields,
.medley-shields {
  @extend %box-radius;

  border: $border;
  display: grid;
  margin-top:30px;
  margin-bottom:40px;

  &__item {
    background: $c-bg-box;
    border-right: $border;
  }

  h2 {
    @extend %metal, %box-shadow;

    padding-left: 0.8rem;
    text-transform: uppercase;
    margin: 0;
    white-space: nowrap;

    a {
      color: $c-brag;
      display: block;

      &:hover {
        color: $c-link;
      }
    }
  }

  li {
    @extend %flex-between;

    padding: 1.2rem 1.2rem 1.2rem 0.5rem;

    &:nth-child(even) {
      background: $c-bg-zebra;
    }
  }
}

.tournament-leaderboards,
.tournament-shields {

  grid-template-columns: repeat(auto-fit, minmax($user-list-width, 1fr));

  h2 {
    font-size: 1.45em;
    line-height: 2.5em;
  }
}

.medley-shields {
  h2 {
    font-size: 3em;
    line-height: 2.2em;
  }
}

@media (min-width: 1700px) {
  .medley-shields {
    grid-template-columns: repeat(auto-fit, minmax($user-list-width, 1fr));
  }
}

.tournament-leaderboards__item h2 {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.tournament-shields, .medley-shields {
  h2 {
    position: relative;
    border-bottom: $border;
  }
}

.tournament-shields {
  h2 {
    padding-left: 95px;
  }
}

.medley-shields {
  h2 {
    padding-left: 120px;
  }
}

.shield-trophy, .medley-shield-trophy {
  position: absolute;
  top: -11px;
  width: 67px;
  font-family: 'playstrategy' !important;
  font-size: 40px;
  line-height: 76px;
  text-align: center;
  text-transform: none;
  letter-spacing: normal;
  color: #333;
  text-shadow: 0 0 6px #fff;
  filter: drop-shadow(0 0 10px $c-brag);
}

.shield-trophy {
  left: 15px;
  height: 80px;
  background: img-url('trophy/shield-gold.png') no-repeat;
  background-size: contain;
}

.medley-trophy {
  height: 120px;
}

.medley-shield-trophy {
  left: 10px;
  height: 120px;
}

.tournament-categ-shields {
  font-size: 1.1em;

  .shield-trophy {
    left: calc(var(--box-padding) - 10px);
    transform: scale(0.7);
  }

  li {
    @extend %flex-between;

    position: relative;
    height: 60px;
    padding: 0 var(--box-padding) 0 calc(var(--box-padding) + 70px);

    &:nth-child(odd) {
      background: $c-bg-zebra;
    }
  }
}
