.tour__player-info {
  .player-title {
    display: flex;
  }

  .country {
    margin-left: 0.5em;
  }

  .player-info {
    display: flex;
    .rating {
      &.unused {
        text-decoration: line-through;
      }
      &.input {
        padding-left: 5px;
      }
    }
  }

  .name {
    margin-left: 0.3em;
    margin-right: 0.3em;
  }

  .pairings {
    width: 100%;

    tr {
      cursor: pointer;

      @include transition(background-color);

      &:nth-child(odd) {
        background: $c-bg-zebra;
      }

      &:hover {
        background: mix($c-link, $c-bg-box, 10%);
      }
    }

    th,
    td {
      padding: 0.3em;
    }

    th {
      border-left: 3px solid transparent;

      @include transition;
    }

    tr:hover th {
      border-color: $c-font;
    }

    tr.win:hover th {
      border-color: $c-good;
    }

    tr.loss:hover th {
      border-color: $c-bad;
    }

    td:nth-child(2) {
      @extend %nowrap-ellipsis;

      max-width: 200px;
    }

    td.result {
      font-weight: bold;
      opacity: 0.8;
    }

    tr.win td.result {
      color: $c-good;
      opacity: 1;
    }

    tr.loss td.result {
      color: $c-bad;
      opacity: 1;
    }
  }

  .playerIndex-icon {
    opacity: 0.6;
  }
}
