@import 'variables';

$pocket-col1-height: auto;
$pocket-height: 7em;

$score-variants: ('flipello', 'flipello10', 'oware', 'togyzkumalak', 'go9x9', 'go13x13', 'go19x19');
$score-variants-square: ('flipello', 'flipello10', 'oware', 'go9x9', 'go13x13', 'go19x19');
$go-variants: ('go9x9', 'go13x13', 'go19x19');

.variant-flipello .game-score,
.variant-flipello10 .game-score,
.variant-go9x9 .game-score,
.variant-go13x13 .game-score,
.variant-go19x19 .game-score {
  piece::after {
    @extend %active, %box-radius;

    content: attr(data-score);
    top: 0;
    right: 0;
    position: absolute;
    line-height: 0.9em;
    padding: 3px 0.3em;
    font-weight: bold;
    font-size: 1.5em;
  }
}

.variant-togyzkumalak .game-score::after {
  @extend %active, %box-radius;

  content: attr(data-score);
  top: -5.5em;
  right: -10.7em;
  position: relative;
  line-height: 0.9em;
  padding: 3px 0.3em;
  font-weight: bold;
  font-size: 1.5em;
}

body.oware-light-wood .variant-oware .game-score {
  background: url(../images/board/oware/oware_light_wood_house.png);
  background-size: cover;
}

body.oware-dark-wood .variant-oware .game-score {
  background: url(../images/board/oware/oware_dark_wood_house.png);
  background-size: cover;
}

body.togyzkumalak-blue .variant-togyzkumalak .game-score {
  background: url(../images/board/togyzkumalak/togyzkumalak_blue_house.png);
  background-size: cover;
}

body.togyzkumalak-wood .variant-togyzkumalak .game-score {
  background: url(../images/board/togyzkumalak/togyzkumalak_wood_house.png);
  background-size: cover;
}
@each $variant in $go-variants {
  body.go-light-wood .variant-#{$variant} .game-score.game-score-top {
    background: url(../images/board/go/svg/go_pot_white_light.svg);
    background-size: cover;
  }

  body.go-light-wood .variant-#{$variant} .game-score.game-score-bottom {
    background: url(../images/board/go/svg/go_pot_black_light.svg);
    background-size: cover;
  }

  body.go-dark-wood .variant-#{$variant} .game-score.game-score-top {
    background: url(../images/board/go/svg/go_pot_white_dark.svg);
    background-size: cover;
  }

  body.go-dark-wood .variant-#{$variant} .game-score.game-score-bottom {
    background: url(../images/board/go/svg/go_pot_black_dark.svg);
    background-size: cover;
  }
}

@each $variant in $score-variants-square {
  .variant-#{$variant} .game-score {
    @extend %box-radius;
    display: block;
    width: 7em;
    height: 7em;
    background-color: #aaa;

    piece {
      display: block;
      width: 100% !important;
      height: 100% !important;
      position: relative;
    }

    &-top {
      grid-area: pocket-top;
    }

    &-bottom {
      grid-area: pocket-bot;
    }
  }
}

.variant-togyzkumalak .game-score {
  @extend %box-radius;
  display: block;
  width: 17.8em;
  height: 4.5em;
  background-color: #aaa;

  piece.part1 {
    display: block;
    width: 5em !important;
    height: 10em !important;
    position: relative;
    margin-top: -2.2em !important;
    margin-left: 2.5em !important;
    transform: rotate(270deg);
  }

  piece.part2 {
    display: block;
    width: 5em !important;
    height: 10em !important;
    position: relative;
    margin-top: -10em !important;
    margin-left: 10.1em !important;
    transform: rotate(270deg);
  }

  &-top {
    grid-area: pocket-top;
    margin-top: 2.5em;
  }

  &-bottom {
    grid-area: pocket-bot;
  }
}

@each $variant in $score-variants {
  .analyse.variant-#{$variant} {
    grid-template-rows: $pocket-col1-height auto $pocket-col1-height auto 50vh;
    grid-template-areas: 'pocket-top' 'board' 'pocket-bot' 'controls' 'tools' 'side' 'acpl' 'under' 'chat' 'uchat';

    @include breakpoint($mq-col2) {
      grid-template-rows: $pocket-height auto $pocket-height;
      grid-template-areas: 'board      gauge pocket-top' 'board      gauge tools' 'board      gauge pocket-bot' 'under      .     controls' 'under      .     acpl' 'under      .     side' 'chat       .     side' 'uchat      .     side';
    }

    @include breakpoint($mq-col3) {
      grid-template-rows: $pocket-height $meta-height $chat-height $pocket-height;
      grid-template-areas: 'side    . board gauge pocket-top' 'side    . board gauge tools' 'chat    . board gauge tools' 'chat    . board gauge pocket-bot' 'uchat   . under .     controls' 'uchat   . under .     acpl';
    }
  }
}
