.study__server-eval {
  @extend %box-neat;

  background: $c-bg-box;
  text-align: center;

  &.padded {
    padding: 4em;
  }

  &.ready {
    position: relative;
    height: 15em;
    overflow: hidden;

    canvas {
      display: block;
      width: 100%;
      height: 100%;
    }

    .study__message {
      position: absolute;
      inset: 0;
      padding: 0;
    }
  }
}

.advice-summary table:first-child {
  margin-bottom: 1em;
}
