.lobby__blog {
  grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
  grid-gap: 0 2%;
  grid-template-rows: auto; /* first row auto */
  grid-auto-rows: 0; /* all the other rows 0 */
  font-size: 0.9em;
  h2 {
    font-size: 1.2em;
  }
  .blog-post-card:hover {
    box-shadow: none;
  }

  &.blog-post {
    &-cards {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
      grid-gap: 2vmin;
    }
  }

  .blog-post {
    &-card {
      @extend %box-neat-force;

      @include transition(box-shadow);

      background: $c-bg-zebra;
      color: $c-font;
      position: relative;

      &__container {
        height: 100%;

        .selected-color-black & {
          border: $c-color-choice-black;
          border-style: solid;
        }
        .selected-color-red & {
          border: $c-color-choice-red;
          border-style: solid;
        }
        .selected-color-blue & {
          border: $c-color-choice-blue;
          border-style: solid;
        }
        .selected-color-green & {
          border: $c-color-choice-green;
          border-style: solid;
        }
        .selected-color-yellow & {
          border: $c-color-choice-yellow;
          border-style: solid;
        }
      }

      &--link:hover {
        .selected-color-original & {
          box-shadow: 0 0 5px $c-link, 0 0 20px $c-link;
        }
        .selected-color-black & {
          box-shadow: 0 0 5px $c-color-choice-black, 0 0 20px $c-color-choice-black;
        }
        .selected-color-red & {
          box-shadow: 0 0 5px $c-color-choice-red, 0 0 20px $c-color-choice-red;
        }
        .selected-color-blue & {
          box-shadow: 0 0 5px $c-color-choice-blue, 0 0 20px $c-color-choice-blue;
        }
        .selected-color-green & {
          box-shadow: 0 0 5px $c-color-choice-green, 0 0 20px $c-color-choice-green;
        }
        .selected-color-yellow & {
          box-shadow: 0 0 5px $c-color-choice-yellow, 0 0 20px $c-color-choice-yellow;
        }
      }

      &__over-image {
        position: absolute;
        top: 0;
        padding: 0.2em 0.5em 0.3em 0.5em;
        @if $theme-dark {
          background: rgba(0, 0, 0, 0.65);
          color: #ddd;
          text-shadow: 0 1px 1px black;
        } @else {
          background: rgba(255, 255, 255, 0.65);
          color: #333;
          text-shadow: 0 1px 1px white;
        }
        opacity: 1;
      }
      time {
        left: 0;
        border-radius: 0 0 $box-radius-size 0;
      }
      .user-link {
        right: 0;
        border-radius: 0 0 0 $box-radius-size;
      }

      &__image {
        width: 100%;
        height: auto;
        .selected-color-black & {
          border-bottom: $c-color-choice-black;
          border-bottom-style: solid;
        }
        .selected-color-red & {
          border-bottom: $c-color-choice-red;
          border-bottom-style: solid;
        }
        .selected-color-blue & {
          border-bottom: $c-color-choice-blue;
          border-bottom-style: solid;
        }
        .selected-color-green & {
          border-bottom: $c-color-choice-green;
          border-bottom-style: solid;
        }
        .selected-color-yellow & {
          border-bottom: $c-color-choice-yellow;
          border-bottom-style: solid;
        }
        &.blog-post-image-default {
          background-image: img-url('placeholder-margin.png');
          background-size: cover;
          background-position: center;
        }
      }

      &__content {
        padding: 3% 3% 4% 6%;
        display: block;
        max-height: 12em;
      }

      &__title {
        font-size: 1.3em;
        color: $c-font-clear;
        display: block;
      }

      &__intro {
        @extend %roboto, %break-word;

        color: $c-font;
        margin-top: 1em;
        display: block;
      }
    }
  }
}
