.lobby {
  &__box {
    @extend %flex-column, %box-neat-force;

    &__top {
      @extend %metal, %flex-between;

      flex: 0 0 auto;
      padding: 0.3em 0.5em;

      .more {
        color: $c-color-choice-font-default;
        @include transition;

        &:hover {
          .selected-color-original & {
            color: $c-link;
          }
          .selected-color-black &,
          .selected-color-red &,
          .selected-color-blue &,
          .selected-color-green &,
          .selected-color-yellow & {
            color: $c-color-choice-font-default;
            font-weight: bold;
          }
        }
      }

      .title {
        @extend %base-font;

        font-size: 1em;
        font-weight: bold;
        color: $c-color-choice-font-default;
        padding: 0.3em;
      }

      .selected-color-original & {
        .title,
        .more {
          color: $c-font-dim;
        }
      }
      .selected-color-black & {
        background: $c-color-choice-black;
        .title,
        .more {
          text-shadow: 0 1px 0 $c-color-choice-black;
        }
      }
      .selected-color-red & {
        background: $c-color-choice-red;
        .title,
        .more {
          text-shadow: 0 1px 0 $c-color-choice-red;
        }
      }
      .selected-color-blue & {
        background: $c-color-choice-blue;
        .title,
        .more {
          text-shadow: 0 1px 0 $c-color-choice-blue;
        }
      }
      .selected-color-green & {
        background: $c-color-choice-green;
        .title,
        .more {
          text-shadow: 0 1px 0 $c-color-choice-green;
        }
      }
      .selected-color-yellow & {
        background: $c-color-choice-yellow;
        .title,
        .more {
          text-shadow: 0 1px 0 $c-color-choice-yellow;
        }
      }
    }

    &__content {
      background: $c-bg-box;
      overflow-x: hidden;
      overflow-y: auto;
    }

    .user-link {
      padding-left: -1em;
      font-weight: bold;
      color: $c-font-dim;
    }

    table {
      width: 100%;
      height: 100%;
    }

    td {
      @extend %nowrap-ellipsis;

      padding: 0.5em 0.4em;
      border-top: $border;
      max-width: 21ch;

      /* prevent leaderboard overflow due to long usernames */
      &:first-child {
        padding-left: 0.7em;
      }

      &.name a {
        font-weight: bold;
        color: $c-font-dim;

        @include transition;

        &:hover {
          color: $c-link;
        }
      }
    }

    tr:nth-child(even) {
      background: $c-bg-zebra;
    }
  }

  &__leaderboard,
  &__winners {
    td:first-child {
      @extend %ellipsis;
    }

    td:last-child {
      text-align: right;
      padding-right: 0.7em;
    }
  }

  &__forum .lobby__box__top,
  &__blog .lobby__box__top {
    border-bottom: $border;
  }
}
