$c-setup: $c-secondary;
$c-slider: $c-setup;

// these must all be the same size as we iterate through them...
$game-family: ('chess', 'draughts', 'loa', 'shogi', 'xiangqi', 'flipello', 'amazons', 'oware', 'togyzkumalak');

$game-family-random-pieces: (
  'wbK.svg',
  'wbK.png',
  'bwL.png',
  'bwK.png',
  'rbK.png',
  'bwP.png',
  'wbQ.svg',
  'mixed.svg',
  'mixed.svg'
);

$game-family-p1-pieces: (
  'chess/cburnett/wK.svg',
  'draughts/wide_crown/wK.svg',
  'loa/check_yb_loa/bL.png',
  'shogi/ctw/0GY.svg',
  'xiangqi/ka/RK.svg',
  'flipello/classic_flipello/bP.png',
  'amazons/queen/wQ.svg',
  'oware/south.svg',
  'togyzkumalak/south.svg'
);

$game-family-p2-pieces: (
  'chess/cburnett/bK.svg',
  'draughts/wide_crown/bK.svg',
  'loa/check_yb_loa/wL.png',
  'shogi/ctw/0OU.svg',
  'xiangqi/ka/BK.svg',
  'flipello/classic_flipello/wP.png',
  'amazons/queen/bQ.svg',
  'oware/north.svg',
  'togyzkumalak/north.svg'
);

.game-setup {
  display: block;

  #modal-wrap {
    width: 30em;
    padding: 0;
  }

  text-align: center;

  h2 {
    margin: 1.5rem 0;
  }

  form > div {
    padding: 0.5em 1em;
  }

  group.radio {
    margin: 0 auto 1em auto;
    width: 70%;

    .disabled {
      opacity: 0.4;
      cursor: default;
    }

    input:checked + label {
      background: $c-setup;
    }
  }

  .optional_config {
    border-bottom: $border;
  }

  .mode_choice {
    margin-top: 1em;
  }

  .optional_config,
  .ratings {
    background: $c-bg-zebra;
    border-top: $border;
  }

  .label_select {
    @extend %flex-center;

    &.variant {
      margin-bottom: 0.5em;
    }

    label {
      flex: 0 0 33%;
      text-align: right;
    }

    select {
      margin-left: 0.8em;
      font-weight: bold;
    }
  }

  .fen_position {
    display: none;

    .board_editor {
      display: block;
      width: 50%;
      margin: 0.5em auto 0 auto;
    }

    .fen_form {
      @extend %flex-center-nowrap;
    }

    .fen_form input {
      flex: 1 1 100%;
    }
  }

  #form3-fen.failure {
    background: mix($c-bg-box, $c-bad, 80%);
    box-shadow: 0 0 13px $c-bad;
  }

  .range {
    padding-top: 1em;

    span {
      font-weight: bold;
    }

    input {
      font-size: 1.5em;
      padding: 0.5em 0.5em 0 0.5em;
      width: 100%;
    }
  }

  .rating-range {
    @extend %flex-center-nowrap;
    justify-content: center;
    .rating-min,
    .rating-max {
      flex: 0 0 7ch;
    }
    input {
      width: 30%;
      padding: 0.6em 0;
    }
  }

  .ratings {
    padding: 1em;
    width: 100%;
    text-align: center;
  }

  .ratings div {
    display: none;
  }

  @each $gf in $game-family {
    $iter: index($game-family, $gf);
    .playerIndex-submits.#{$gf} {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      margin: 1em auto;
      text-align: center;

      $padding_button: if($gf == 'oware', 0px, 7px);
      $padding_random: if($gf == 'oware', 0px, 10px);

      .playerIndex-submits__button {
        margin: 0 0.5em;
        width: 64px;
        height: 64px;
        padding: $padding_button;

        i {
          display: block;
          padding: 0;
          width: calc(64px - 2 * #{$padding_button});
          height: calc(64px - 2 * #{$padding_button});
          background-size: calc(64px - 2 * #{$padding_button}) calc(64px - 2 * #{$padding_button});
        }

        $p1-piece: nth($game-family-p1-pieces, $iter);
        &.p1 i {
          background-image: url(../piece/#{$p1-piece});
        }

        $p2-piece: nth($game-family-p2-pieces, $iter);
        &.p2 i {
          background-image: url(../piece/#{$p2-piece});
        }

        &.random {
          width: 85px;
          height: 85px;
          padding: $padding_random;

          $file: nth($game-family-random-pieces, $iter);
          & i {
            background-image: url(../piece/#{$gf}/#{$file});
            background-size: calc(85px - 2 * #{$padding_random}) calc(85px - 2 * #{$padding_random});
            width: calc(85px - 2 * #{$padding_random});
            height: calc(85px - 2 * #{$padding_random});
          }
        }

        &.nope {
          visibility: hidden;
        }

        &:disabled {
          opacity: 0.3;
        }
      }

      .spinner {
        width: 85px;
        height: 85px;
        margin: 10px auto 20px auto;
      }
    }
  }

  .botInfo {
    margin-top: -10px;
    margin-bottom: 10px;
  }
}
