$score-variants: ('flipello', 'flipello10', 'oware', 'togyzkumalak');
$score-variants-square: ('flipello', 'flipello10', 'oware', 'go9x9', 'go13x13', 'go19x19');
$go-variants: ('go9x9', 'go13x13', 'go19x19');

.variant-flipello .game-score,
.variant-flipello10 .game-score,
.variant-go9x9 .game-score,
.variant-go13x13 .game-score,
.variant-go19x19 .game-score {
  piece::after {
    @extend %active, %box-radius;

    content: attr(data-score);
    top: 0;
    right: 0;
    position: absolute;
    line-height: 0.9em;
    padding: 3px 0.3em;
    font-weight: bold;
    font-size: 1.5em;
  }
}

.variant-go9x9 .game-score.captures,
.variant-go13x13 .game-score.captures,
.variant-go19x19 .game-score.captures {
  piece::after {
    @extend %active-secondary;
  }
}

.variant-togyzkumalak .game-score::after {
  @extend %active, %box-radius;

  content: attr(data-score);
  top: -5.5em;
  right: -10.7em;
  position: relative;
  line-height: 0.9em;
  padding: 3px 0.3em;
  font-weight: bold;
  font-size: 1.5em;
}

.variant-backgammon .game-score::after {
  @extend %active, %box-radius;

  content: attr(data-score);
  top: 0;
  right: 0;
  height: fit-content;
  margin-left: auto;
  position: relative;
  line-height: 0.9em;
  padding: 3px 0.3em;
  font-weight: bold;
  font-size: 1.5em;
}

body.oware-light-wood .variant-oware .game-score {
  background: url(../images/board/oware/oware_light_wood_house.png);
  background-size: cover;
}

body.oware-dark-wood .variant-oware .game-score {
  background: url(../images/board/oware/oware_dark_wood_house.png);
  background-size: cover;
}

body.togyzkumalak-blue .variant-togyzkumalak .game-score {
  background: url(../images/board/togyzkumalak/togyzkumalak_blue_house.png);
  background-size: cover;
}

body.togyzkumalak-wood .variant-togyzkumalak .game-score {
  background: url(../images/board/togyzkumalak/togyzkumalak_wood_house.png);
  background-size: cover;
}

body.backgammon-classic .variant-backgammon .game-score {
  background: url(../images/board/backgammon/backgammon_classic_house.png);
  background-size: cover;
}

body.backgammon-contemporary .variant-backgammon .game-score {
  background: url(../images/board/backgammon/backgammon_contemporary_house.png);
  background-size: cover;
}

@each $variant in $go-variants {
  body.go-light-wood .variant-#{$variant} .game-score.game-score-top {
    &.p1 {
      background: url(../images/board/go/svg/go_pot_black_light.svg);
      background-size: cover;
    }
    &.p2 {
      background: url(../images/board/go/svg/go_pot_white_light.svg);
      background-size: cover;
    }
  }

  body.go-light-wood .variant-#{$variant} .game-score.game-score-bottom {
    &.p1 {
      background: url(../images/board/go/svg/go_pot_black_light.svg);
      background-size: cover;
    }
    &.p2 {
      background: url(../images/board/go/svg/go_pot_white_light.svg);
      background-size: cover;
    }
  }

  body.go-dark-wood .variant-#{$variant} .game-score.game-score-top {
    &.p1 {
      background: url(../images/board/go/svg/go_pot_black_dark.svg);
      background-size: cover;
    }
    &.p2 {
      background: url(../images/board/go/svg/go_pot_white_dark.svg);
      background-size: cover;
    }
  }

  body.go-dark-wood .variant-#{$variant} .game-score.game-score-bottom {
    &.p1 {
      background: url(../images/board/go/svg/go_pot_black_dark.svg);
      background-size: cover;
    }
    &.p2 {
      background: url(../images/board/go/svg/go_pot_white_dark.svg);
      background-size: cover;
    }
  }
}

@each $variant in $score-variants-square {
  .variant-#{$variant} .game-score {
    @extend %box-radius;
    display: block;
    width: 35%;
    padding-top: 35%;
    position: relative;
    background-color: #aaa;

    piece {
      width: 100% !important;
      height: 100% !important;
      position: absolute;
      top: 0;
      left: 0;
    }

    &-top {
      grid-area: mat-top;
      margin-bottom: -0.5em;
    }

    &-bottom {
      grid-area: mat-bot;
      margin-top: -0.5em;
    }

    @include breakpoint($mq-col1) {
      &-top {
        grid-area: pocket-top;
        margin-left: 20%;
        width: 20%;
        padding-top: 20%;
        margin-bottom: 0;
      }

      &-bottom {
        grid-area: pocket-top;
        margin-left: 65%;
        margin-top: 0;
        width: 20%;
        padding-top: 20%;
      }
    }

    @include breakpoint($mq-col2-uniboard) {
      &-top {
        margin-bottom: $block-gap;
      }

      &-bottom {
        margin-top: $block-gap;
      }
    }
  }
}

.variant-togyzkumalak .game-score {
  @extend %box-radius;
  display: block;
  width: 17.8em;
  height: 4.5em;
  background-color: #aaa;

  piece.part1 {
    display: block;
    width: 5em !important;
    height: 10em !important;
    position: relative;
    margin-top: -2.2em !important;
    margin-left: 2.5em !important;
    transform: rotate(270deg);
  }

  piece.part2 {
    display: block;
    width: 5em !important;
    height: 10em !important;
    position: relative;
    margin-top: -10em !important;
    margin-left: 10.1em !important;
    transform: rotate(270deg);
  }

  &-top {
    grid-area: mat-top;
    margin-top: 2.5em;
  }

  &-bottom {
    grid-area: mat-bot;
  }

  @include breakpoint($mq-col1) {
    &-top {
      grid-area: pocket-top;
      margin-bottom: 0;
      margin-top: 0;
      margin-left: 1%;
    }

    &-bottom {
      grid-area: pocket-top;
      margin-top: 0;
      margin-left: 43%;
    }

    //todo how to only affect phone screen?
    transform: scale(0.65); //to fit large scores on phone screen
  }

  @include breakpoint($mq-col2-uniboard) {
    &-top {
      margin-bottom: $block-gap;
    }

    &-bottom {
      margin-top: $block-gap;
    }
  }
}

.variant-backgammon .game-score {
  @extend %box-radius;
  display: flex;
  width: 18em;
  height: 6em;
  gap: 0.13em;
  background-color: #aaa;

  piece {
    width: 1em !important;
    height: 4.7em !important;
    position: relative;
    margin-top: 0.65em !important;
    &.first {
      margin-left: 0.65em;
    }
  }

  &-top {
    grid-area: mat-top;
    margin-top: 2.5em;
  }

  &-bottom {
    grid-area: mat-bot;
  }

  @include breakpoint($mq-col1) {
    &-top {
      grid-area: pocket-top;
      margin-bottom: 0;
      margin-top: 0;
      margin-left: 1%;
    }

    &-bottom {
      grid-area: pocket-top;
      margin-top: 0;
      margin-left: 43%;
    }

    //todo how to only affect phone screen?
    transform: scale(0.65); //to fit large scores on phone screen
  }

  @include breakpoint($mq-col2-uniboard) {
    &-top {
      margin-bottom: $block-gap;
    }

    &-bottom {
      margin-top: $block-gap;
    }
  }
}
